body {
    background-color: rgb(147, 147, 224);
    color: #1c1c1c;
    font-family: Arial, sans-serif;
    text-align: center;
}

pre {
    font-family: Arial, sans-serif;
}

.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}
  
input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}
  
input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}

.drop-container:hover {
    background: #eee;
    border-color: #111;
}
  
.drop-container:hover .drop-title {
    color: #222;
}
  
.drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}
  
.drop-container.drag-active {
    background: #eee;
    border-color: #111;
}
  
.drop-container.drag-active .drop-title {
    color: #222;
}

.custom-submit {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

footer {
    padding: 50px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(180, 180, 180);
    background-color: #2c2c2c;
}




h1 {
    font-size: 40px;
    font-weight: normal;
}

form {
    text-align: center;
}

#title {
    text-align: center;
}

#preview {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border: 2px solid #2d1883;
    border-radius: 10px;
}