<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mathpix OCR</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <h1 id="title"><b>Math Error Detector (MED)</b></h1>
  <form method="post" enctype="multipart/form-data">
    <label for="images" class="drop-container" id="dropcontainer">
      <input type="file" class=custom-file-upload name="file" accept="image/*">
    </label>
    <br><br>
    <img id="preview" src="" alt="Image preview" style="display: none; max-width: 100%; height: auto;">
    <br><br>
    <input type="submit" value="Upload">
  </form>
  <footer>Website made by Arman Mahjoor.</footer>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
